{
  "ignorePatterns": [
    "/node_modules/**/*",
    "/dev-dist/**/*",
    "vite.config.ts",
    "postcss.config.cjs",
    "tailwind.config.cjs"
  ],
  "plugins": ["react", "jest-dom"],
  "extends": ["eslint:all", "plugin:react/all", "plugin:jest-dom/recommended"],
  "rules": {
    "no-unused-vars": "error"
  }
}
