{
  "ignorePatterns": [
    "vite.config.ts",
    "/node_modules/**/*",
    "postcss.config.cjs",
    "tailwind.config.cjs"
  ],
  "rules": {
    "constructor-super": "error",
    "array-callback-return": "warn",
    "for-direction": "error",
    "getter-return": "error",
    "no-class-assign": "error",
    "no-cond-assign": "error",
    "no-const-assign": "error",
    "no-constant-condition": "error",
    "no-control-regex": "error",
    "no-debugger": "error",
    "no-dupe-args": "error",
    "no-dupe-class-members": "error",
    "no-dupe-keys": "error",
    "no-duplicate-case": "error",
    "no-duplicate-imports": "error",
    "no-empty-character-class": "error",
    "no-empty-pattern": "error",
    "no-ex-assign": "error",
    "no-fallthrough": "error",
    "no-func-assign": "error",
    "no-inner-declarations": "error",
    "no-invalid-regexp": "error",
    "no-irregular-whitespace": "error",
    "no-new-symbol": "error",
    "no-obj-calls": "error",
    "no-prototype-builtins": "error",
    "no-self-assign": "error",
    "no-sparse-arrays": "error",
    "no-undef": "error",
    "no-unexpected-multiline": "error",
    "no-unreachable": "warn",
    "no-unsafe-finally": "warn",
    "no-unsafe-negation": "warn",
    "no-unused-vars": "error",
    "no-use-before-define": "warn",
    "use-isnan": "error",
    "valid-typeof": "error",
    "block-scoped-var": "warn",
    "camelcase": "warn",
    "complexity": "warn",
    "default-case": "warn",
    "dot-notation": "warn",
    "eqeqeq": "error",
    "max-depth": "warn",
    "max-lines": "warn",
    "max-nested-callbacks": "warn",
    "max-statements": "warn",
    "no-alert": "warn",
    "no-case-declarations": "error",
    "no-confusing-arrow": "warn",
    "no-console": "warn",
    "no-delete-var": "error",
    "no-else-return": "warn",
    "no-empty": "error",
    "no-eval": "error",
    "no-extra-semi": "error",
    "no-floating-decimal": "warn",
    "no-global-assign": "error",
    "no-implicit-coercion": "warn",
    "no-implicit-globals": "error",
    "no-implied-eval": "error",
    "no-invalid-this": "warn",
    "no-iterator": "error",
    "no-lonely-if": "warn",
    "no-loop-func": "error",
    "no-magic-numbers": "warn",
    "no-mixed-operators": "warn",
    "no-multi-assign": "error",
    "no-negated-condition": "warn",
    "no-nested-ternary": "warn",
    "no-new-func": "error",
    "no-new-object": "error",
    "no-new-wrappers": "error",
    "no-octal": "error",
    "no-param-reassign": "warn",
    "no-redeclare": "error",
    "no-regex-spaces": "warn",
    "no-return-await": "error",
    "no-script-url": "error",
    "no-sequences": "warn",
    "no-shadow": "error",
    "no-var": "error",
    "prefer-const": "warn",
    "prefer-destructuring": "warn",
    "prefer-rest-params": "warn",
    "prefer-spread": "warn",
    "prefer-template": "warn",
    "require-await": "warn",
    "require-yield": "warn",
    "sort-imports": "warn",
    "sort-keys": "warn",
    "yoda": "error",
    "arrow-spacing": "warn",
    "block-spacing": "warn",
    "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
    "comma-spacing": "warn",
    "max-len": "error",
    "max-statements-per-line": "error",
    "newline-per-chained-call": "warn"
  }
}
