{
  "ignorePatterns": [
    "/node_modules/**/*",
    "/dev-dist/**/*",
    "vite.config.ts",
    "postcss.config.cjs",
    "tailwind.config.cjs"
  ],
  "plugins": ["react"],
  "extends": ["eslint:all", "plugin:react/all"],
  "rules": {
    "no-unused-vars": "error"
  }
}
