@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: SF-Pro-Rounded;
  src: url(/src/assets/fonts/SF-Pro-Rounded-Regular.woff2);
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: SF-Pro-Rounded;
  src: url(/src/assets/fonts/SF-Pro-Rounded-Semibold.woff2);
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: SF-Pro-Rounded;
  src: url(/src/assets/fonts/SF-Pro-Rounded-Bold.woff2);
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: DejaVuSans;
  src: url(/src/assets/fonts/DejaVuSans.ttf);
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: DejaVuSans;
  src: url(/src/assets/fonts/DejaVuSans-Bold.ttf);
  font-weight: 700;
  font-display: swap;
}

:root {
  --ripe-mango-color: #ffb629;
  --calamansi-color: #fff1a5;
}

@supports (height: 100dvh) {
  .h-screen {
    height: 100dvh;
  }
}

html {
  font-family: SF-Pro-Rounded, sans-serif;
}

body {
  overflow: hidden;
  touch-action: none;
  position: fixed;
}

/* safari, chrome */
progress::-webkit-progress-bar {
  background-color: var(--calamansi-color);
  border-radius: 10px;
}

progress::-webkit-progress-value {
  background-color: var(--ripe-mango-color);
  border-radius: 10px;
}

/* firefox */
progress {
  border: none;
  border-radius: 10px;
  background-color: var(--calamansi-color);
}

progress::-moz-progress-bar {
  border-radius: 10px;
  background-color: var(--ripe-mango-color);
}

*:focus-visible {
  outline: none;
  box-shadow: 1px 1px 1px var(--ripe-mango-color),
    1px -1px 1px var(--ripe-mango-color), -1px 1px 1px var(--ripe-mango-color),
    -1px -1px 1px var(--ripe-mango-color);
  border-color: var(--ripe-mango-color);
}
